.documentDiv {
  width: 9rem;
  height: 11rem;
  margin: 2px;
  font-size: 1.3rem;
  border: solid thin rgb(4, 3, 3);
  float: left;
  padding: 0.25rem;
}

.active div {
  background-color: #5c6060;
  font-weight: bold;
}
